﻿@page "/fetchdata"
@attribute [Authorize]
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <CascadingValue Value="tableClasses" Name="TableClasses" IsFixed="true">
        <WeatherData Forecasts="forecasts"></WeatherData>
    </CascadingValue>

}

@code {
    private WeatherForecast[] forecasts;
    private string tableClasses = "table table-striped";

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("https://localhost:5004/WeatherForecast");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
